*{ 
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}

h3{
    text-align: center;
    font-weight: bolder;
}

#hero{
    background-image: url(../images/pexels-webbshow-2406397.jpg);
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero h1{
    background-color: rgb(230, 241, 255);
    padding: 20px;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
}

.horizontal-masonary-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border: 10px solid rgb(230, 241, 255);
    padding: 24px;
}

.horizontal-masonary-gallery img{
    height: 250px;
    flex: 1;
    object-fit: cover;
}

.vertical-masonary-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    border: 10px solid rgb(230, 241, 255);
    padding: 24px;
}