*{ 
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(236, 213, 182);
}

#navbar1 {
    background-color: tan;
    color: black;
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 4px solid black;
    
}

#navbar1 a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 5px 15px 35px 15px;
}

#navbar1 h1 {
    width: 200px;
    padding: 1px 850px 10px 25px;
   
}

#homepage-hero {
    background-image: url(../images/pexels-tranmautritam-2215599.jpg);
    background-size: cover;
    height: 100vh;

}

#adopt {
    position: relative;
}

#adopt h4 {
    padding: 0px 0px 12px 0px;
    font-weight:400
}

#adopt li {
    font-size: large;
    text-align:left;
    list-style-type: none;
}

#adopt .card-content {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000033;
    margin: -30px 50000px 0px 0px ;
    padding: 15px 2px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
    

}

#adopt:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    background-color: tan;
    border: 1px solid black;
    border-radius: 12px;
}

#adopt .card-content li:hover{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    background-color: rgb(0, 0, 0);
    color: tan;
    border: 1px solid black;
    border-radius: 12px;
}

#adopt .card-content li:hover a{
    color: tan;
}

.single-column {
     width: 50%;
     min-width: 500px;
     margin-left: auto;
     margin:auto
}

#benji, #sally, #fred{
      padding: 48px 0px;
}

#benji{
    text-align: center;
    border: 0px black solid;
    border-radius: 24px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.400);
    box-shadow: 4px 4px 4px 8px #00000033;
}
#benji img{
    width: 450px;
    height: 100%;
}

#benji p{
   padding: 2px 48px 2px 48px;
}

#sally{
    text-align: center;
    border: 0px black solid;
    border-radius: 24px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.400);
    box-shadow: 4px 4px 4px 8px #00000033;
}
#sally img{
    width: 450px;
    height: 100%;
}

#sally p{
   padding: 2px 48px 2px 48px;
}

#fred{
    text-align: center;
    border: 0px black solid;
    border-radius: 24px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.400);
    box-shadow: 4px 4px 4px 8px #00000033;
}
#fred img{
    width: 450px;
    height: 100%;
}

#fred p{
   padding: 2px 48px 2px 48px;
}

/*
Tablet Media Query Breakpoint
*/
@media screen and (max-width: 768px) and (min-width:481px) {
 
    #navbar1 h1 {
         font-size: 60px;
        padding: 0px 525px 0px 50px;
     }

     #navbar1 {
        align-items: center;
        flex-wrap: wrap; 
        flex-direction: column;
    }
 
    
 }
 
 /*
 Cellphone Media Query Breakpoint
 */
 @media screen and (max-width: 480px) {
    
    #navbar1 h1 {
        font-size: 60px;
       padding: 0px 800px 0px 0px;
    }

    #navbar1 {
       align-items: center;
       flex-wrap: wrap; 
       flex-direction: column;
    }

    #sally{
        text-align: center;
        border: 0px black solid;
        border-radius: 24px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: rgba(255, 255, 255, 0.400);
        box-shadow: 4px 4px 4px 8px #00000033;
    }
    #sally img{
        width: 250px;
        height: 100%;
    }
    
    #sally p{
       padding: 2px 28px 2px 48px;
    }

    #fred{
        text-align: center;
        border: 0px black solid;
        border-radius: 24px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: rgba(255, 255, 255, 0.400);
        box-shadow: 4px 4px 4px 8px #00000033;
    }
    #fred img{
        width: 250px;
        height: 100%;
    }
    
    #fred p{
       padding: 2px 28px 2px 48px;
    }

    #benji{
        text-align: center;
        border: 0px black solid;
        border-radius: 24px;
        margin-top: 50px;
        margin-bottom: 100px;
        background-color: rgba(255, 255, 255, 0.400);
        box-shadow: 4px 4px 4px 8px #00000033;
    }
    #benji img{
        width: 250px;
        height: 100%;
    }
    
    #benji p{
       padding: 2px 28px 2px 48px;
    }

    
     
    
 }