*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: sans-serif;
    text-align: center;
}

#two-columns{
                         display: flex;
}

#sidebar{
          background-color: grey;
          width: 200px;
          
}

#main-content{
            background-color: rgb(255, 255, 255);
            flex: 1;
           
}

