*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

.card{
    width: 350px;
    border: 2px solid rgb(247, 217, 213);
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px rgb(255, 222, 219);
    background: linear-gradient(
    -50deg,
    pink,
     plum,
     pink
    );
}

.card img{
    width: 300px
}

.card h2{
    font-size: 36px;
    margin-top: 12px;
}

.card p{
    font-size: 18px;
}

.card a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 100px;
    padding: 10px;
    text-align: center;
}
