body{
    background-color: black;
}




*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: sans-serif;
}

#two-columns{
                         display: flex;
}

#sidebar{
          background-color: pink;
          width: 200px;
          order: 2;
}

#main-content{
            background-color: lightblue;
            flex: 1;
            order: 1;
}



