#head1{font-family: cursive; text-align: center;}

#c1{
    background-color: #3bff00;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: cursive;
}

#c2{
    background-color: #00ccff;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: cursive;
}

#c3{
    background-color: #ff8123;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: cursive;
}

#head2{font-family: Cambria; text-align: center;}

#c4{
    background-color: #edd5c0;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: Cambria;
}

#c5{
    background-color: #b3d9e0;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: Cambria;
}

#c6{
    background-color: #92ada4;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: cambria;
}

#c7{
    background-color: #f2d6a1;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: Cambria;
}

#c8{
    background-color: #f1a805;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: Cambria;
}

#head3{font-family: Cambria; text-align: center;}

#c9{
    background-color: #9b9c04;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: 'Trebuchet MS';
}

#c10{
    background-color: #d4e2f0;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: 'Trebuchet MS';
}

#c11{
    background-color: #a4aed1;
    color: black;
    text-align: center;
    padding: 24px;
    font-family: 'Trebuchet MS';
}



